{% extends 'registration/profile.html' %}

{% block head %}
<title>Cards</title>
<style>
.glassbox {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 20px 0 20px;
  margin: 20px;
  background: inherit;
  box-shadow: 0px 0px 1rem 0 rgb(0,0,0,0.2);
  border-radius: 10px;
  border: 1px solid rgb(255 255 255 / 15%);
  text-align: center;
}
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 50%;
    width: 70%;
    background-color: rgba(93, 93, 93, 0.8);
    color: white;
    z-index: 1;
}
#openCreateCategorydiv {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 50%;
    width: 70%;
    background-color: rgba(93, 93, 93, 0.8);
    color: white;
    z-index: 1;
}

#modalContent span{
    border: 1px solid white;
    padding: 10px 30px 10px;
    /* display: inline; */
    margin: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.create_gategory, .create_card{
    border: solid 1px black;
    padding: 10px;

}
#createcardForm{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 50%;
    width: 70%;
    background-color: rgba(242, 242, 242, 0.8);
    color: rgb(73, 91, 47);
    z-index: 1;
}
</style>
{% endblock %}

{% block body %}
    <div>
        <h1>all cards</h1>
        <span class="create_gategory" onclick="openCreateCategoryForm()">+</span>
        

        {% for Category in categorys %}
            <div class="glassbox" id="{{Category.id}}"  onclick="openModal('{{Category.category_name}}','{{Category.id}}')">
                <h3>{{Category.category_name}}</h3>
            </div>
        {% endfor %}
            
        <!-- Show category -->
            <div id="openCreateCategorydiv" class="">
                <span class="close" onclick="closeModal()">&times;</span>

                 <!-- Create category -->
                <div id="createCategoryForm">
                    <input type="text" placeholder="category_name" name="category_name" id="createCategorinput">
                    <input type="submit" id="createCategorysubmit" onclick="createCategorysubmit()">
                </div>

            </div>

        <!-- Show cards -->
            <div id="myModal" class="modal">
                <span class="close" onclick="closeModal()">&times;</span>
                <span class="create_card" onclick="openCreatecardForm()">+</span>
                <div id="modalContent" class=""></div>

                <!-- create cards-->
                <div id="createcardForm">
                    <span class="close" onclick="closechildModal()">&times;</span>
                    <input type="text" placeholder="question" name="card_question" id="questioncardinput">
                    <input type="text" placeholder="answer" name="card_answer" id="answercardinput">
                    <input type="submit" id="createcardsubmit" onclick="createcardsubmit()">
                </div>
            </div>
    </div>
    <script>

        // open to show category
        function openCreateCategoryForm(){
            var openCreateCategorydiv = document.getElementById('openCreateCategorydiv');
            var modalContent = document.getElementById('createCategoryForm');

            openCreateCategorydiv.style.display = 'block';

        }

        // Create category
        function createCategorysubmit(){
            var categoryName = document.getElementById('createCategorinput').value;
            console.log(categoryName);
            fetch('http://127.0.0.1:8000/cards/getOrCreate_category/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    category_name: categoryName
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Category created successfully:', data);
            })
            .catch(error => {
                console.error('Error creating category:', error);
            });
            location.reload();
        }

        // open category - Show cards
        function openModal(categoryName, categoryID) {
            console.log(categoryID);
            var modal = document.getElementById('myModal');
            var modalContent = document.getElementById('modalContent');
            modalContent.className = categoryID
            modalContent.innerHTML = '<h2>' + categoryName + '</h2>';
            fetch('http://127.0.0.1:8000/cards/getOrCreate_card/?category_name=' + categoryName)
                .then(response => response.json())
                .then(data => {
                    // console.log(data);
                    data.forEach(cards => {
                        var spanElement = document.createElement('span');
                        spanElement.className = cards.id;
                        spanElement.textContent = cards.question;
                        spanElement.onclick = function () {
                            openCardDetail(cards.id, categoryID); // تابع جدید برای نمایش جزئیات کارت
                        };
                        modalContent.appendChild(spanElement);
                    })
                })

            modal.style.display = 'block';

        }

        // open card - show card detail
        function openCardDetail(cardID, categoryID) {
            var createcardForm = document.getElementById('createcardForm');
            var questioncardinput = document.getElementById('questioncardinput')
            var answercardinput = document.getElementById('answercardinput')
            
            fetch('http://127.0.0.1:8000/cards/getOrUpdateDetial_card/?categoryID=' + categoryID + '&cardID=' + cardID)
            .then(response => response.json())
            .then(data => {
                console.log(data[0]);
                questioncardinput.value = data[0].question
                answercardinput.value = data[0].answer
            })
            createcardForm.style.display = 'block';
        }

        // Open create card form
        function openCreatecardForm(){
            var createcardForm = document.getElementById('createcardForm');

            createcardForm.style.display = 'block';
        }


        // Create card
        function createcardsubmit(){
            var questioncardinput = document.getElementById('questioncardinput').value;
            var answercardinput = document.getElementById('answercardinput').value;
            var modalContent = document.getElementById('modalContent').className;
            console.log(modalContent);
            fetch('http://127.0.0.1:8000/cards/getOrCreate_card/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    question: questioncardinput,
                    answer: answercardinput,
                    choice_category: modalContent
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('card created successfully:', data);
            })
            .catch(error => {
                console.error('Error creating category:', error);
            });
            location.reload();
        }
        
    
        function closeModal() {
            var modal = document.getElementById('myModal');
            var openCreateCategorydiv = document.getElementById('openCreateCategorydiv');
    
            modal.style.display = 'none';
            openCreateCategorydiv.style.display = 'none';
        }
        function closechildModal() {
            var createcardForm = document.getElementById('createcardForm');

            createcardForm.style.display = 'none';
        }


        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
{% endblock %}